buildbot/sandbox/

buildbot/master/public_html/
buildbot/master/templates/
buildbot/master/gitpoller/

buildbot/master/buildbot.tac
buildbot/master/master.cfg.sample
buildbot/master/state.sqlite
buildbot/master/chromium_step.pyc
buildbot/master/http.log
buildbot/master/twistd.log
buildbot/master/twistd.pid

buildbot/slave/buildbot.tac
buildbot/slave/twistd.hostname
buildbot/slave/twistd.log
buildbot/slave/twistd.pid

buildbot/master/ktsan-x86-64/
buildbot/slave/ktsan-x86-64/build/
